.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

/bin/

# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# ProcessingStitch
.dst